<header class="site-header">
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/" class="navbar-brand">Book Notes App</a>
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/books">View Books</a></li>
            <li><a href="/users">View Users</a></li>
        </ul>
    </nav>
</header>
